@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #ffffff;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

button,
a,
input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer
}