@import "tailwindcss";

:root {
  --color-green: #1b5b31;
  --color-beige: #dcc1ab;
  --color-cream: #f5f0ec;
  --color-black: #111111;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: var(--color-white);
  color: var(--color-black);
  font-family: Inter, Arial, Helvetica, sans-serif ;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

button,
a,
input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.hero-title {
  font-family: "Montserrat", sans-serif;
}

.hero-linear-gradient {
  background: linear-gradient(rgba(17, 17, 17, 0.42) 0%, rgba(17, 17, 17, 0.18) 38%, rgba(17, 17, 17, 0.72) 100%);
}