@import "tailwindcss";

:root {
  --color-green: #1b5b31;
  --color-beige: #dcc1ab;
  --color-cream: #f5f0ec;
  --color-black: #111111;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: var(--color-white);
  color: var(--color-black);
  font-family: Inter, Arial, Helvetica, sans-serif ;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

button,
a,
input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.hero-title {
  font-family: "Montserrat", sans-serif;
}

.hero-linear-gradient {
  background: linear-gradient(
    rgba(17, 17, 17, 0.42) 0%, 
    rgba(17, 17, 17, 0.18) 38%, 
    rgba(17, 17, 17, 0.72) 100%);
}

.projects-grid {
    position: relative;
}

.projects-grid::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 180px;
    pointer-events: none;
    z-index: 5;

    background: linear-gradient(
        to bottom,
        rgba(220, 193, 171, 0) 0%,
        rgba(220, 193, 171, 0.25) 35%,
        rgba(220, 193, 171, 0.75) 70%,
        #DCC1AB 100%
    );
}